# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Environments
.env
.venv
env/
venv/
ENV/
env.bak
venv.bak

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars

# Data files
data/
*.csv
*.parquet

# Test artifacts
.coverage
coverage.xml
.pytest_cache/
htmlcov/

# IDE / Editor files
.idea/
.vscode/
*.swp
*.DS_Store

# Spark / Delta
metastore_db/
derby.log
spark-warehouse/

# Logs
logs/
*.log

# Poetry
poetry.lock
